body, html {
  height: 100%;
}

#bg {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

#card {
  background-color: #704d1f;
  height: 500px;
  width: 80%;
  margin: auto;
  padding: 20px;
  max-width: 500px;
}

hr {
  background-color: #842222;
  height: 5px;
}