body, html {
  height: 100%;
  font-family: sans-serif;
}

#bg {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

#main {
  background-color: burlywood;
  height: 730px;
  width: 80%;
  margin: auto;
  padding: 20px;
  max-width: 500px;
}

hr {
  background-color: brown;
  border-color: brown;
  height: 2px;
}

h1, h2 {
  font-family: Impact, serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  margin: 20px;
}

#header-section > p, footer {
  text-align: center;
}

#menu-section {
  margin: 30px 0px;
}

.images {
  display: block;
  margin: auto;
}

.flavor {
  display: inline-block;
  font-size: 18px;
  margin: 5px 0px;
  width: 75%;
  text-align: left;
}

.price {
  display: inline-block;
  font-size: 18px;
  margin: 5px 0px;
  width: 24%;
  text-align: right;
}

footer, footer > a {
  padding: 10px;
  color: white;
}